fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-ollama
langchain-huggingface
langchain-text-splitters
chromadb
pypdf
python-multipart
httpx
sentence-transformers
langchain-deepseek
rank_bm25
python-dotenv
